<div class="lista">
  <h4 class="title-list">Lista de Compras</h4>
  <div *ngFor="let produto of listaDeCompras">
    <div class="content" *ngIf="produto.comprado === false">
      <input class="checkbox" type="checkbox" name="comprado" id="comprado">
      <p class="description">{{produto.nome}}</p>
      <fa-icon class="delete-icon" [icon]="faTrash" (click)="deleteItem(produto)"></fa-icon>
      <fa-icon class="edit-icon" [icon]="faPen" (click)="editarItem(produto)"></fa-icon>
      <small class="date">{{produto.data}}</small>
    </div>
  </div>
</div>
